# Ignore cryptography files
service/app_certs/*
!service/app_certs/.gitkeep
!service/app_certs/README.md

/host_certs/*
!host_certs/.gitkeep
!host_certs/README.md

# Ignore venv
/venv

# Ignore .env
.env

# Ignore cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*pytest_cache

# Ignore critical XML files
*host_xml/*
!host_xml/.gitkeep
!host_xml/README.md

*service/xml_management/app_xml_files
!service/xml_management/app_xml_files/.gitkeep
!service/xml_management/app_xml_files/README.md

# Ignore .coverage file
.coverage

# Ignore runtime logs
logs/*.log

# Ignore local runtime state DB
service/state/afrelay_state.db
